@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-background-light;
    color-scheme: dark; /* Penting untuk default browser UI */
  }
  body {
    @apply bg-background-light text-slate-100 font-sans overflow-hidden;
  }
}

/* Custom Scrollbar */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #334155 transparent; /* Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-full;
    border: 1px solid transparent;
    background-clip: content-box;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-600;
  }
  
  /* Global Scrollbar (fallback) */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-background-light;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-full border-2 border-background-light;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-600;
  }
}
